# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
forge/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
forge/cache/solidity-files-cache.json
forge/out/Contract.sol/Contract.json
forge/out/Contract.t.sol/ContractTest.json
.gitignore
forge/out/test.sol/DSTest.json
forge/lib/ds-test/
**forge/out/
yarn.lock
forge/src/broadcast/
